.navbar {
    min-height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    background-color: #1DB954;
  }
  
  .title {
    font-weight: bold;
    font-size: 30px;
  }

  .left {
    margin-right: auto;
    margin-left: 30px;
  }
  
  .nav-link {
    text-decoration: solid;
    color: #D1FFE1;
  }
  
  .right {
    margin-right: 50px;
  }
  
  .right:hover {
    text-decoration: wavy underline;
    text-decoration-color: #D1FFE1;
    color: #D1FFE1;
  }