.results-page-container{
    height: 100vh;
    width: 100vw;
    background-color: #E4F5E4;

    display: flex;
    flex-direction: column;
    
}

.results-page-row:before, .results-page-row:after  {
    content: " ";
}

.results-image-box{
    display: flex;
    justify-content: center;

    padding-top: 3%;
}

.results-page-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    padding-top: 3%;
}

.results-page-column{
    flex-direction: column;
    text-align: left;

    padding-top: 2%;
}

.results-page-text-username{
    display: inline-block;
    margin-right: 2em;
}

.results-page-text-duration{
    display: inline-block;
    margin: 0em;
}

.results-title{
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.3em;

    font-size: 4em;
    letter-spacing: 1px;
}

.results-button {
    background-color: #1DB954;
    border: none;
    color: #E4F5E4;
    font-size: 18px;
    font-weight: 500;
    width: 250px;
    height: 50px;
    border-radius: 20px;
}
.results-button:hover {
    color: black;
    border: 3px solid black;
}

.results-image {
    width: 300px;
    height: 300px;

    padding-inline: 4em;
}

.artist-title {
    font-size: 10px;
}

table {
    width: 60%;
    max-width: 1200px;

    border-collapse: collapse;
}

th {
    text-align: left;
    border-bottom: 1px solid black;
    background-color: #E4F5E4;
}

td {
    text-align: left;

    background-color: #E4F5E4;
    height:max-content;

    padding-top: 0.25%;
    padding-bottom: 0.25%;
}