.about-page-container{
    height: 100vh;
    width: 100vw;
    text-align: left;
    background-color: #E4F5E4;
}

.about-page-text{
    margin: 2em;
}
.about-title{
    text-align: center;
    margin: 0;
    padding-top: 1em;
}